.playtest {
    list-style: none;
    background: var(--color-background-light);
    position: relative;
    box-shadow: rgba(0,0,0, 0.2) 0px 8px 24px;

    > * {
        padding: 1em;
    }

    .header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.2);
    }

    .name {
        font-size: 2em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        &:hover { text-decoration: underline }
    }
    .author {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        a {
            display: flex;
            gap: 4px;
            &:hover { text-decoration: underline }
        }

        svg { width: 16px }
    }

    .body {
        display: flex;
        flex-direction: column;

        .stakes {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.5em 2em;

            label { font-weight: bold }
        }

        .tags {
            display: flex;
            gap: 6px;
            flex-wrap: wrap;

            > * {
                border-radius: 4px;
                padding: 4px 8px;
            }
        }

        .description > * {

            h2, h3, h4 { margin: 0 }
        }
    }

    .bountyDetails {
        display: grid;

        hr { width: 100% }
        h3 { margin: 0 }
    }

    .summary {
        display: grid;
        gap: 6px;
        background-color: rgba(0,0,0,0.2);

        > * {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .closed { color: #aaa }
        svg { width: 16px; height: 16px }
    }
}