@import '../../styles/mixins';

.playtestEditor {
    display: flex;
    flex-direction: column;

    .row {
        display: grid;
        grid-template-columns: 120px 1fr;

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            gap: 2px;
        }

        > label {
            height: 44px;
            display: flex;
            align-items: center;
        }
    }

    &:not(.disabled) .invalid { outline: 1px solid #f88; border-radius: 8px }

}

.vstack {
    display: flex;
    flex-direction: column;
    
    p:first-child { padding-top: 1em }
}

.steps {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    svg {
        align-self: center;
        height: 2em;
        color: #888;
    }

    .step {
        width: 100px;
        border-radius: 0;
        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);

        &.active {
            background: #e7ab62;
            color: #333;
        }

        &:disabled {
            background: #fff1;
        }
    }
}

.actions {
    display: flex;
    button { flex-grow: 1 }
}

.contractEditor {
    .type {
        display: grid;
        grid-template-columns: 1fr 1fr 130px;

        button {
            &:not(.active):not(:hover) {
                background: transparent;
                color: #888;
            }
        }
    }

    .templateEditor {
        background: #ccc;
        color: #333;
        font-size: 10pt;
        padding: 1em;
        max-height: 600px;
        @include scrollable;

        input {
            padding: 6px;
            text-align: center;
            background: #0003;

            &::placeholder {
                color: #333;
            }

            &.invalid {
                outline: 1px solid #f55;
            }
        }

        hr { display: none }
        h1, h2, h3 { margin-bottom: 0 }
    }

    .templateOptions {
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: flex-start;

        h4 { margin: 0 }
    }

    .templateSelect {
        display: inline-block;
        background: #ccc;
        width: unset;
    }
}