@import '../../styles/mixins';
@import '../../styles/variables';

.searchParams {
    display: flex;
    flex-direction: column;
    padding: 1em;

    @media (width >= 800px) {
        background: linear-gradient(270deg, #fff3 0%, #0003 4px);
        height: min-content;
        @include scrollable;
        &::-webkit-scrollbar { width: 6px; }
        position: sticky;
        top: $topNavHeight;
        height: calc(100dvh - $topNavHeight);

        .collapse { display: none }

        .form {
            flex-grow: 1;
            align-items: flex-start;
        }
    }

    @media (width < 800px) {
        padding: 1em;
        padding-bottom: 0;

        &.collapsed {
            > :not(:first-child) {
                display: none;
            }
        }

        h2 { display: none!important }
    }

    h2 {
        border-bottom: 1px solid white;
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        button {
            font-size: 1rem;
            font-weight: normal;
            padding: 8px;
            gap: 6px;
        }
    }
    
    section {
        display: grid;
    }
}

.form {
    display: flex;
    flex-direction: column;

    h3 { margin: 0 }

    section {
        width: 100%;
        display: grid;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        li svg { margin: 0 }
    }
}