@import '../../styles/mixins';
@import '../../styles/variables';

.searchParams {
    height: min-content;
    @include scrollable;
    &::-webkit-scrollbar { width: 6px; }

    background: linear-gradient(270deg, #fff3 0%, #0003 4px);
    
    display: flex;
    flex-direction: column;
    padding: 1em;

    @media (width >= 800px) {
        position: sticky;
        top: $topNavHeight;
        height: 100%;
        max-height: calc(100dvh - $topNavHeight);

        .collapse { display: none }
    }

    h2 { 
        border-bottom: 1px solid white;
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        button {
            font-size: 1rem;
            font-weight: normal;
            padding: 8px;
            gap: 6px
        }
    }
    h3 { margin: 0 }

    section {
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        li svg { margin: 0 }
    }
}