@import '../../styles/mixins';

.emailVerification {
    display: grid;

    h3 { margin: 0 }

    .errorMessage { color: #f88 }
}

.settings {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: min(100%, 800px);
    align-items: stretch;
    margin: auto auto;

    hr { width: 100% }

    .row {
        display: grid;
        grid-template-columns: 120px 1fr;

        @media (max-width: 600px) { grid-template-columns: 1fr; gap: 0 }

        > label {
            height: 44px;
            display: flex;
            align-items: center;
        }

        input { width: 100% }
    }

    &:not(.disabled) .invalid {
        outline: 1px solid #f88;
    }

    .username, .emails {
        display: grid;
        grid-template-columns: 1fr 50px;
        align-items: center;
        gap: 8px;

        .free { display: flex; gap: 8px; color: #8f8 }
        .taken { display: flex; gap: 8px; color: #f88 }

        > button {
            padding: 10px;
        }
    }

    .accountType {
        display: flex;
        justify-content: space-around;

        > * { padding: 6px 12px; font-weight: normal }

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .actions {
        margin-bottom: 5em;
        display: flex;
        button { flex: 1 1 0 }
    }

    .systems {
        display: flex;
        flex-direction: column;

        > ul {
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                display: flex;
                flex-direction: column;

                .firstRow {
                    display: flex;
                    align-items: center;

                    @media (max-width: 600px) {
                        position: relative;
                        flex-direction: column-reverse;
                        align-items: flex-start;

                        > :last-child {
                            position: absolute;
                            right: 0;
                            bottom: 2px;
                        }
                    }

                    .systemSelect {
                        width: 200px;
                    }

                    .familiarity {
                        flex-grow: 1;
                        display: flex;
                        align-items: center;

                        .stars {
                            display: flex;
                            align-items: center;
                            gap: 0;
                            
                            button {
                                padding: 0;
                                background: none;
                                padding: 2px;

                                svg { width: 20px; height: 20px }

                                &:not(.familiar) svg { color: #888 }

                                &:hover svg { color: #ccc }
                            }
                        }

                        > label { 
                            text-wrap: nowrap;

                            @media (max-width: 800px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        > button {
            width: min-content;
            text-wrap: nowrap;
        }
    }

    .proof {
        display: flex;
        flex-direction: column;

        > :first-child {
            padding: 1em;
            padding-left: 0;
        }

        .proofType {
            display: grid;
            grid-template-columns: 150px 1fr;
            align-items: flex-start;
            
            > :first-child {
                justify-content: flex-start;
                padding: 4px 0;
            }

            .warning {
                padding-left: 1em;
                border-left: 1px solid #c83;
                color: #c83;
            }
        }
    }

    .reviews > * {
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: start;

        @media (max-width: 600px) { grid-template-columns: 1fr; gap: 0 }

        > label {
            display: grid;
            svg { display: none }
        }

        ul {
            display: grid;
            gap: 1em;
            margin: 0;
            padding: 0;
            list-style: none;

        }
    }
}