@import '../../styles/mixins';

.playtestDetails {
    padding: 1em;
    width: min(800px, 100%);
    margin: auto auto;
    display: grid;

    .secret {
        background: var(--color-background-light);
        padding: 1em;
        display: grid;

        h3 { margin: 0 }

        > a {
            @include clickable;
        }
    }

    .applicationForm {
        padding: 1em;
        background: var(--color-background);
        display: grid;

        .agreeBtn { justify-content: start }
        h3, p { margin: 0 }
    }

    .applications {
        > h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                font-size: 10pt;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            gap: 1em;
        }

        .placeholder { color: var(--color-grey-light) }
    }
}

.timeModal {
    width: min(100%, 600px);
    display: grid;

    h3, p { margin: 0 }

    label { font-weight: bold }

    .row {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}