.playtestList {
    display: grid;

    .cards {
        display: grid;
    }

    .placeholder {
        color: #aaa;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .page {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}