.popper svg {
    fill: var(--color-background)!important;
    stroke: var(--color-background)!important;
    color: var(--color-background)!important;
}

.wrapper input { width: 100% }

.calendar {
    background: var(--color-background);
    border: none;
    
    :global(.react-datepicker__header) {
        background: var(--color-background);

        :global(.react-datepicker__day-name),
        :global(.react-datepicker__current-month) {
            color: var(--color-white);
        }
    }
}

.day {
    color: var(--color-white);
    font-weight: normal;

    &:global(.react-datepicker__day--disabled) { color: #888 }
    &:global(.react-datepicker__day--keyboard-selected) { background: unset }
    &.active { background: #fffa; color: #333 }
    &:hover:not(:global(.react-datepicker__day--disabled)) { background: #fff3 }
}

.month {
    background: var(--color-background-light);
}

.clearBtn {
    display: initial;
}
