@import '../../styles/mixins';

.mdtextarea {
    position: relative;

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        font-size: smaller;

        .previewToggle {
            background: none!important;
            padding: 6px;
    
            transition: color 300ms;
            &:hover { color: #ccc }
        }
    }

    .invalid {
        outline: 1px solid #f88;
    }

    textarea {
        @include scrollable;
        padding: 1em;
        padding-right: 0;
        min-height: unset;
        max-height: 600px;

        &:not(:hover) { background: #fff1 }
    }

    .preview {
        padding-left: 1em;
        border-left: 1px solid #ccc;
        min-height: 1em;
        margin: 1em 0;
    }
}
