@import '../../styles/variables';
@import '../../styles/mixins';

.topNav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #544;
    height: $topNavHeight;

    padding: 8px 1em;

    .actions {
        display: flex;
        align-items: center;

        > button {
            padding: 8px;
        }
    }

    .warning {
        @include clickable;
        color: #f88;
        outline: 1px solid #f88;
    }

    .skeleton {
        display: grid; 
        grid-template-columns: 150px auto;
        align-items: center;
    }
}

.admin {
    display: flex;
    flex-direction: column;
    * { margin: 0 }
}

.row {
    display: grid;
    grid-template-columns: 100px 400px;
    align-items: center;
}