@import '../../styles/mixins';

.tagInput {
    @include clickable;
    padding: 6px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6px;
    min-height: 40px;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-shrink: 1;
    gap: 6px;
}

.tagListItem {
    display: flex;
    text-wrap: nowrap;
    > button { padding: 6px; font-weight: normal;}
}

.input {
    flex-basis: 1 1 0;
    display: inline-block;
    background: none!important;
    padding: 0;
    position: initial;

    &:not(.visible) { position: absolute; opacity: 0 }
}

.listBox {
    position: fixed;
    z-index: 1;
    width: 400px;
    max-height: 300px;
    @include scrollable;
    background: linear-gradient(180deg, transparent 0%, #544 3px);

    display: flex;
    flex-direction: column;
    padding: 8px;

    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .header {
            width: 100%;
            justify-content: flex-start;
            background: none;
            padding: 0;
        }
    }
}

.option {
    display: initial;
    text-wrap: nowrap;
    padding: 6px;
    background: #0004;
    border-radius: 4px;
}

.highlight {
    background: #fff5;
    color: #fff;
    padding: 0 2px;
}

.maxTags {
    position: sticky;
    bottom: 0;
    right: 0;
    text-align: right;
    pointer-events: none;
    color: #ccc;
    font-size: smaller;
}

.placeholder { color: #777; font-weight: normal }